h1 {
    font-size: 50px;
    font-weight: 1000;
    color: #f8f8ff;
}

header {
    background-image: linear-gradient(to right, blue, yellow);
    height: 90px;
    text-align: center;
}

h4 {
    font-weight: bold;
}

#city-display {
    margin-bottom: 0;
}

#five-day-forecast {
    padding-top: 10px;
}

.card-body {
    padding: .5rem;
    flex:auto
}

.card-body.text-center {
    padding: 0;
}

.list-group-item {
    line-height: 1;
    border: none;
    padding: 0.75rem 0.2rem;
}

.btn-light {
    background-color: #A8A8A8;
    justify-content: center;
}